/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	color: #CEE7F4;
}

ContinueOn
{
	fillAlphas: 1, 1, 1, 1;
	fillColors: #D9BE97, #D9BE97, #D9BE97, #D9BE97;
}
	