/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	color: #cee7f4;
}

s|Button#logBtn {
	skinClass: ClassReference("odyssey.skins.LogButtonSkin");
}
s|Button#closeLogBtn {
	skinClass: ClassReference("odyssey.skins.StatusCloseButtonSkin");
}
	