/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


global
{
	color: #cee7f4;
}

#mHelpButton
{
	fontFamily: Georgia;
	fontWeight: bold;
	paddingLeft: 0px;
	paddingRight: 0px;
}
