# OS-specific thumbnail files
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# Cleaning up all .SWZ files that are cluttering git status view
*.SWZ

# removing bin-debug directories 
Flash/ChainSaw/bin-debug/*
Flash/ShipOdyssey/bin-debug/*

# removing project preferences so we can add our own if needed later
Flash/ShipOdyssey/com.adobe.flexbuilder.project.prefs

# removing un-needed files from bin-release
Flash/ShipOdyssey/bin-release/odyssey/
Flash/ShipOdyssey/bin-release/swfobject.js

# ignore 'obsolete' folder
Flash/ShipOdyssey/obsolete/*

# ignore rebuilds of the library .SWCs
Flash/KCPTCommonLibrary/bin/KCPTCommonLibrary.swc
Flash/SRRICommonLibrary/bin/SRRICommonLibrary.swc

# ignore .actionscript properties files
*/.actionScriptProperties