# Build and Release Folders
#bin-debug/
#bin-release/

# Project property files
#.actionScriptProperties
#.flexProperties
#.settings/
#.project

~/TP-data-games/Flash/ChainSaw/.fxpProperties
~/TP-data-games/Flash/ChainSaw/bin-release/chainsaw/
~/TP-data-games/Flash/ChainSaw/bin-release/history/
bin-release/playerProductInstall.swf
bin-release/swfobject.js
.fxpProperties
