body{
  color: black;
  background-color: white;
  font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 10px;
  margin: 0px;
  cursor: default;
  background-color: #ead1aa;
}

h1, h2, h3, h4{ margin:0px; padding: 0px; }

input[type=button]{
  background: -moz-linear-gradient(top, white 0%, #F2F2F2 40%, #E5E5E5 61%, #D8D8D8 100%);
  background: -webkit-linear-gradient(top, white 0%, #F2F2F2 40%, #E5E5E5 61%, #D8D8D8 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #bbb;
  font-size: 14px;
  color:#555;
  font-weight: bold;
  padding: 0 10px;
  height: 29px;
  cursor:pointer;
}

input[type=range]{
  height: 10px;
}

input[type=text]{ cursor: text; }

input[type=button]:hover{
  border:1px solid #999;
  color:#333;
}
input[type=button]:disabled, input[type=button][disabled=disabled]:active{
  cursor: default;
  border:1px solid #eee;
  color:#aaa;
}
input[type=button]:active{
  background: -moz-linear-gradient(bottom, #f0f0f0 0%, #eee 40%, #E5E5E5 61%, #D8D8D8 100%);
  background: -webkit-linear-gradient(bottom, #f0f0f0 0%, #eee 40%, #E5E5E5 61%, #D8D8D8 100%);
  border:1px solid #ddd;
}

#banner{
  height: 20px;
  width: 690px;
  text-align: right;
  font-size: 11px;
  line-height:18px;
  background: -moz-linear-gradient(top, #f0f0f0 0%, #d8d8d8 100%);
  background: -webkit-linear-gradient(top, #f0f0f0 0%, #d8d8d8 100%);
  padding:2px 5px;
  border:1px solid #999;
  border-top:0px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  margin-bottom: 5px;
}

  #banner #info{
    float:left;
    margin-right:20px;
  }

 #banner #mute{
    cursor:pointer;
  }

  #banner input[type=range]{

  }
  #banner #volume{
    display:inline-block;
    position: relative;
    top: -1px;
    width:100px;

  }

#container{
  width: 700px;
  height: 350px;
  position: relative;
}

  input.action{
    width: 120px;
  }

  input.highlight{
    -webkit-box-shadow: 0px 0px 3px 1px #30a4ff;
    -moz-box-shadow: 0px 0px 3px 1px #30a4ff;
    box-shadow: 0px 0px 3px 1px #30a4ff;
  }
  #version{
    float:right;
    margin-top: 5px;
    font-size: 11px;
    color: #666;
  }


#levelselect{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f0f0f0;
  width: 660px;
  height: 310px; 
  z-index: 999;
  padding: 20px;
  border:1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /* background: url('http://subtlepatterns.com/patterns/wood_pattern.png'); */
}
  #levelselect #player{
    margin-left: 30px;
  }
    #levelselect #playername{
      border:1px solid #ccc;
      font-size:15px;
      padding: 4px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      margin-right: 20px;
    }

  #levelselect h1{
    /*color: #669035;*/
    color: #cf623c;
    font-size: 50px;
    /*text-transform: uppercase; */
    text-shadow: 1px 1px 0px #999;
  }

  #levelselect #splash{
    /*border: 1px solid #ddd;*/
    padding: 10px;
    /*background-color: #fff;*/
    font-size: 16px;
    margin-top: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: left;
  }

    #splash img{ position: relative; top: 4px; }

    #splash .label{
      display: inline-block;
      width: 120px;
    }


    #levelselect fieldset{
      border:0px;
      padding: 0px; margin: 0px;
      font-size: 16px;
    }

  #levelselect #buttons{
    text-align: center;
    margin-top: 20px;
  }

  #levelselect input[type=button]{
    width: 200px;
    margin-right: 10px;

  }

#game{

}

  /*#game, #game #sidebar { height: 100%; }*/
  #game #sidebar{
    width: 150px;
    float:left;
    background-color: #ead1aa;
    padding-top:7px;
  }

    #game #sidebar #fuel{

      padding-left: 5px;
    }

      #game #sidebar #fuel #tank{
        width: 120px;
        height:129px;
        background-image:url('assets/Gas Tank Smaller.png');
        position: relative;
        margin: 10px 0px 25px 0px;
      }
        
        #game #sidebar #fuel #tank #contents{
          width:118px;
          height:85px;
          box-sizing: border-box;
          position:absolute;
          bottom:7px;
          overflow: hidden;
        }
          #fuel #tank #contents #wave{
            overflow: hidden;
            position: relative;
            height: 20px;
            background: rgba(0,0,0,0) url('assets/Fuel Wave.gif') no-repeat;
            opacity: 0.9;
          }
          #fuel #tank #contents #rest{
            overflow: hidden;
            height: 100%;
            background: rgba(204, 51, 51, 0.9);
          }
        #fuel #tank #indicator{
          position: absolute;
          bottom: 8px;
          left: 8px;
          background-image: url('assets/Gas Tank Indicator.png');
          height: 76px;
          width: 21px;
        }

    #game #sidebar #target{
      padding-left: 5px;
    }
      #game #sidebar #target #ruler{
        width: 112px;
        height: 35px;
        background-image:url('assets/tape_measure.png');
      }

    #game #sidebar input[type=button]{
      /*z-index:800;*/
        margin-bottom:10px;
        margin-left: 3px;

    }

  #game #canvasContainer{
    background-color: #ead1aa;
    position: relative;
    z-index: 601;
    width: 550px;
    height: 350px;
    float: left;
  }
    #canvas{
      position:absolute;
      left:0px;
      top:0px;
      height:100%;
      width: 100%;
    }
    #shadows{
      position: absolute;
      left:0px;
      top:0px;
      height:100%;
      width:100%;
      z-index:-1;
    }
      #shadows .shadow{
        background-color:red;
        position:absolute;
        z-index:600;
        -webkit-box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.9);
        -moz-box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.9);
        box-shadow: 0px 8px 18px 0px rgba(0,0,0,0.9);
      }
  #game #canvasContainer.transit{
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    transition: all 600ms ease-in-out;
    -moz-transform: scale(0.6) translate(120px, 30px);
    -webkit-transform: scale(0.6) translate(120px, 30px);
    -o-transform: scale(0.6) translate(120px, 30px);
    -ms-transform: scale(0.6) translate(120px, 30px);
    transform: scale(0.6) translate(120px, 30px);
  }
  #game #canvas.active{
    cursor:url('assets/Chainsaw Cursor 2.gif'), auto;
  }
  #game #canvas.inactive{
    cursor:default;
  }

#results{
  display: none;
  font-size: 20px;
  line-height: 1.5em;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(255,255,255,1);
  padding: 30px 20px;
  width: 660px;
  height: 290px;
  z-index: 400;
  border:1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

  #results #stats{
    margin-top: 30px;
    font-weight: bold;

  }
    #results #stats ul{
      list-style:none;
      margin:0; padding: 0;
      width: 300px;
    }
    #results #stats li{
      text-transform: uppercase;
      font-size: 12px;
      color: #aaa;
      width: 150px;
      float: left;
      margin-bottom: 10px;

    }
      #results #stats .value{
        display:block;
        font-size: 30px;
        color: #555;
        margin-bottom: -5px;
        
        
        }

  #results #nav{
    position: absolute;
    bottom: 80px;

  }
