body{
  color: #000;
  font: 400 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding:0px;
  margin:0px;
  cursor: default;
}
input[type=button]{
  background: -moz-linear-gradient(top, white 0%, #F2F2F2 50%, #E5E5E5 51%, #D8D8D8 100%);
  background: -webkit-linear-gradient(top, white 0%, #F2F2F2 50%, #E5E5E5 51%, #D8D8D8 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border:1px solid #bbb;
  font-size: 14px;
  color:#555;
  font-weight: bold;
  padding: 0 10px;
  height: 29px;
  cursor:pointer;
}
input[type=button]:hover{
  border:1px solid #999;
  color:#333;
}
input[type=button]:disabled{
  cursor: default;
  border:1px solid #eee;
  color:#aaa;
}
input[type=text]{
  font-size:15px;
  border:1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding:3px;
}
#container{
  width:600px;   
  z-index:100;
  margin:20px;
}
#overlay{
  width:100%;
  background: rgba(255, 255, 255, 0.7);
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:900;
}
  #levelselect{
    width:300px;
    height:280px;
    position:absolute; left: 50%; top:50%;
    margin-left: -174px;
    margin-top: -184px;
    background-color: #fff;
    border:5px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align:center;
    padding:20px;
    background: rgb(248,248,248); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(248,248,248,1) 0%, rgba(234,234,234,1) 50%, rgba(221,221,221,1) 51%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,248,248,1)), color-stop(50%,rgba(234,234,234,1)), color-stop(51%,rgba(221,221,221,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(248,248,248,1) 0%,rgba(234,234,234,1) 50%,rgba(221,221,221,1) 51%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */ 
  }
  
  #levelselect h1{
    font-size:32px;
    color:#fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#669035;
    background: rgb(135,183,67); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(135,183,67,1) 8%, rgba(102,144,53,1) 78%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,rgba(135,183,67,1)), color-stop(78%,rgba(102,144,53,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(135,183,67,1) 8%,rgba(102,144,53,1) 78%); /* Chrome10+,Safari5.1+ */
    margin:0px 0px 20px 0px;
    padding:5px;
    text-shadow: 0px 0px 2px black;
  }
  #levelselect input{
    display:block;
    width:280px;
    margin:10px;
  }
  #levelselect input[type=text]{ width:273px; margin-bottom:30px; text-align:center; }

#fuel{
  float: right;
  width:150px;
}
  #fuel #labels{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 48px;
    float: left; 
  }
  #fuel #tank{
    border: 1px solid #000;
    width: 80px;
    float: right;
    height:100px;
    margin-bottom:20px;
    position:relative;
  }
    #fuel #tank #contents{
      width:80px;
      height:100px;
      background-color: #943634;
      position:absolute;
      bottom:0px;
    }
#header{

}
  #header #startButton{
    padding:5px 15px;
    height:39px;
  }
  #header h1{
    font-size: 60px;
    color: #669035;
    margin: 0px;
    padding: 0px;
  }
#canvas{
  width:600px;
  height: 330px;
  border: 1px solid #000;
  clear: both;
  background-color: #ead1aa;
  position:relative;
  /* background-image: url('/Users/dylan/Desktop/forest2.jpg'); */
}
#canvas.active{
  cursor:url(cursor.gif), auto;
}
#canvas.inactive{
  cursor:default;
}
#footer{
  width:600px;
}
#footer #referencelog{
  width:75px;
  height:35px;
  border:1px solid #000;
  background-image: url('assets/log_tiles.jpg'); 
  margin:auto;
}
#nav{
  width:200px;
  float:left;
}
#info{
  width:200px;
  float:left;
  text-align:center;
}
#stats{
  width:200px;
  float:right;
  text-align:center;
}
  #stats #accepted{
    margin: 20px auto 0px auto;
    width: 70px;  
    padding:5px;
    border:2px solid #000;
  }

.clear{ clear:both; }
